/* Global */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #8a8683;
  background-color: #eeeeee;
}
img {
  max-width: 100%;
}
a:link {
  color: #f68f67;
  text-decoration: none;
}
a:hover {
  color: #bde2df;
  text-decoration: none;
}
a:visited {
  color: #f68f67;
  text-decoration: none;
}

/* Image Positions */
#over {
  position: relative;
}
#under {
  position: absolute;
  padding: 30px 100px;
}

/* General Slides */ 
.slide {
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  padding: 140px 0;
}

/* Slide 0 */ 
#slide0 { 
  background-image: url("../images/bg.gif");
  background-color: #eeeeee;
}

/* Computer */
.grid_5 { width: 40.5%; }
.grid_7 { width: 57.5%; } 

.grid_5,
.grid_7 {
  margin: 0 2% 1% 0;
  float: left;
  display: block;
}

.alpha{margin-left:0;}
.omega{margin-right:0;}

.container{
  width: 90%; /*width: 1000px;*/
  max-width: 1000px;
  margin: auto;
  
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


/* Tablet */
@media screen and (max-width: 1024px) {
  .slide{
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 150px 0;
  }
  #decorative {
    display: none;
  }
  #content {
    text-align: center;
    width: 100%;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .slide{
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 100px 0;
  }

/* Image Positions */
#over {
  position: relative;
}
#under {
  position: absolute;
  padding: 200px 0px;
}
  .grid_5,
.grid_7 {
  width:100%;
}
}
